# local .terraform dir
.terraform/* 

# tf state files
*.tfstate
*.tfstate.*

# tf variables files, mai include sensitive data
*.tfvars

# private aws ec2 ssh key pair
terraform-ssh-key-pair.cer

# ignore crash logs
crash.log

notes.md